<h1 style="text-align: center; margin-top: 20px;">Wishlist</h1>
<div class="card" *ngFor="let product of data;index as i">
  <div class="card-body">
    <img src="{{product.imageUrl}}" alt="img" width="200" height="200">
    <h5 class="card-title">{{product.name}}</h5>
    <h6 class="card-title">{{product.category}}</h6>
    <p class="card-text">
        {{product.description}}
    </p>
    <span style="display: inline;">
          <button type="button" (click)="addToCart(product.id)" class="btn btn-primary">Add to Cart</button>  
          <button type="button" (click)="removeFromWishlist(product.id)" class="btn btn-primary">Remove From Wishlist</button>  
    </span>

  </div>
</div>
